@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

html{
  ::-webkit-scrollbar{
    display: none;
  }
}

@utility font-anton {
  font-family: "Anton SC", sans-serif;
}

@utility font-fira-sans{
    font-family: "Fira Sans", sans-serif;
}

.react-calendar {
  border: none;
  width: 100%;
  font-family: inherit;
}

.react-calendar__tile {
  border-radius: 12px;
  transition: all 0.2s ease;
}


.react-calendar__tile.present-tile {
  background: #22c55e !important;
  color: white !important;
}

.react-calendar__tile.absent-tile {
  background: #ef4444 !important;
  color: white !important;
}

.react-calendar__tile.holiday-tile {
  background: #eab308 !important;
  color: white !important;
}

.react-calendar__tile.present-tile:hover,
.react-calendar__tile.absent-tile:hover,
.react-calendar__tile.holiday-tile:hover {
  opacity: 0.85;
}